.section {
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 0 0 5px #ccc;
}

.section__title {
    padding: 20px;
    margin: 0;
}

.section__body {
    padding: 20px;
    border-top: 3px solid #eee;
}

.section__container {
    display: grid;
    grid-template-columns: 1fr auto;
}

@media (max-width: 767px) {
    .section__container {
        grid-template-columns: 1fr;
    }
}