html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: 'lato', sans-serif;
}

@media (max-width: 767px) {
  body {
    padding: 10px;
  }
}