.buttons__container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: end;
    grid-gap: 10px;
    padding-right: 20px;
}

@media (max-width: 767px) {
    .buttons__container {
        grid-template-columns: auto;
        justify-content: center;
        margin-bottom: 20px;
        padding-right: 0;
    }
}

.buttons__button {
    color: teal;
    border: none;
    background-color: #fff;
    padding: 10px;
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    color: #ccc;
}

.buttons__button--hidden {
    display: none;
}